# Environment variables for the Next.js application
NODE_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_NETLIFY_URL=http://localhost:3000

# Redis connection URL
REDIS_URL=

# Database connection URL for Prisma
DATABASE_URL=file:./dev.db

# SendGrid API key for sending emails
SENDGRID_API_KEY=

# Google Drive API credentials
GOOGLE_CLIENT_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_GIFT_FOLDER_ID=